footer{
    width: 100%;
    height: 300px;
    background-color: #515151;
    margin-top: 90px;
}
.footer{
    width: 1200px;
    height: 300px;
    margin: 0 auto;
}
.footer a{
    color: #999999;
}
.img{
    float: left;
}
.img img{
    display: block;
}
.img1{
    margin-left: 20px;
    margin-top: 30px;
}
.img2{
    margin-left: 18px;
    margin-top:45px;
}
.img3{
    margin-left: 18px;
    margin-top:6px;
}
.footer2{
   float: left;
    margin-left: 100px;
}
.li1{
    font-size: 16px;
    color: #FFFFFF;
    margin-top: 30px;
}
.li2{
    font-size: 12px;
    margin-top: 10px;
    color: #999999;
}
.footer3{
    float: left;
    margin-left: 200px;
}
.footer4{
    float: left;
    margin-left: 100px;
}
.footer4 .li2{
    margin-top: 15px;
    font-size: 16px;
    color: #999999;
}
.footer4 li img{
    margin-right: 6px;
}
.hui{
    float: left;
    margin-left: 80px;
    margin-top: 220px;
}