    *{padding: 0;margin: 0;font-family: "宋体";}
.clearfix:after{
    content: "";
    height: 0;
    clear: both;
    display: block;
    visibility: hidden;
}
.clearfix{
    *zoom:1;
}
body{
     background-color: #FFF !important;
}

/*logo*/
.logo{
    width: 1200px;
    height: 70px;
    margin: 0 auto;
    margin-top: 18px; 
    position: relative;
}
.logo img{
    position: absolute;
    top: 0;
    left: 16px;
}
.logo select{
    position: absolute;
    right: 43px;
    bottom: 8px;
    font-size: 14px;
    color: #333;
    font-family: Arial;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
}

/*con-nav*/
.con-nav{
    width: 100%;
    height: 40px;
    background-color: #ff2741;
}
.con-nav .con-wrap{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    color: #FFF;
    line-height: 40px;
}
.con-nav .con-wrap span{
    display: inline-block;
    padding: 0 56px;
    cursor: pointer;
}
.con-nav .con-wrap .active{
    background-color: #c61f34;
}

/*con-list*/
.con-list{
    width: 1114px;
    margin: 0 auto;
    padding: 0 43px;
}

/*login  con-list-left deng-lu*/
.con-list .con-list-left{
    /*display: none;*/
}
.con-list .con-list-left,.register-left,.zhao-mi{
    float: left;
    margin-top: 97px;
}
.con-list .con-list-left h3{
    font-size: 16px;
    color: #333;
    margin-left: 38px;
}
.con-list .con-list-left form{
    width: 354px;
}
.con-list .con-list-left form .you-xiang{
    margin-top: 32px;
}
.con-list .con-list-left form .mi-ma{
    margin-top: 12px;
}
.con-list .con-list-left form p{
    margin-top: 14px;
    margin-left: 290px;
}
.con-list .con-list-left form p a{
    font-size: 14px;
    color: #333;
    text-decoration: none;
}
.con-list .con-list-left form p a:hover{
    color: #ff2741;
    text-decoration: underline;
}
.con-list .con-list-left form span{
    font-size: 12px;
    color: #333;
}
.con-list .con-list-left form input{
    height: 36px;
    line-height: 36px;
    width: 300px;
    margin-left: 12px;
    border: 1px solid #999;
    border-radius: 6px;
    outline: none;
    padding-left: 10px;
}
.con-list .con-list-left form .submit{
    width: 313px;
    height: 66px;
    font-size: 20px;
    color: #FFF;
    border: 0 none;
    background-color: #ff2741;
    margin-left: 38px;
    margin-top: 31px;
    cursor: pointer;
    padding-left: 0;
}

/* link */
.con-list .con-list-left .link{
    height: 29px;
    font-size: 14px;
    color: #333;
    margin-top: 18px;
    margin-left: 38px;
}
.con-list .con-list-left .link i{
    width: 29px;
    height: 29px;
    display: inline-block;
    cursor: pointer;
    vertical-align: -8px;
    margin-left: 6px;
}
.con-list .con-list-left .link .xpb i{
    background: url(../img/icon/icon.png);
    background-position: -123px -281px;
}
.con-list .con-list-left .link .facebook i{
    background: url(../img/icon/icon.png);
    background-position: -161px -281px;
}
.con-list .con-list-left .link .google i{
    background: url(../img/icon/icon.png);
    background-position: -199px -281px;
}

/*register con-list-left*/
.con-list .register-left{
    display: none;
}
.con-list .register-left h3{
    font-size: 16px;
    color: #333;
    margin-left: 38px;
}
.con-list .register-left form span{
    font-size: 12px;
    color: #333;
}
.con-list .register-left form input{
    height: 36px;
    line-height: 36px;
    width: 301px;
    margin-left: 12px;
    border: 1px solid #999;
    border-radius: 6px;
    outline: none;
    padding-left: 10px;
}
.con-list .register-left form .you-xiang{
    margin-top: 32px;
}
.con-list .register-left form .spacing{
    margin-top: 12px;
}
.con-list .register-left form .yan-zheng-ma{
    margin-left: -12px;
}
.con-list .register-left form .yan-zheng-ma .shou-ma{
    width: 170px;
}
.con-list .register-left form .yan-zheng-ma .ma-button{
    width: 92px;
    height: 38px;
    font-size: 14px;
    color: #FFF;
    border: 0 none;
    padding-left: 0;
    background-color: #ff2741;
    cursor: pointer;
    margin-left: 38px;
}
.con-list .register-left form .que-ren{
    margin-left: -23px;
}
.con-list .register-left form p{
    font-size: 12px;
    color: #333;
    margin-top: 15px;
    margin-left: 38px;
}
.con-list .register-left form p i{
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: -4px;
    margin-right: 4px;
    cursor: pointer;
}
.con-list .register-left form p .no-choose{
    background: url(../img/icon/icon.png);
    background-position: -280px -287px;
}
.con-list .register-left form p .yes-choose{
    background: url(../img/icon/icon.png);
    background-position: -310px -287px;
}
.con-list .register-left form .register{
    width: 313px;
    height: 66px;
    border: 0 none;
    font-size: 20px;
    color: #FFF;
    background-color: #ff2741;
    padding-left: 0;
    margin-left: 38px;
    margin-top: 30px;
    cursor: pointer;
}

/* zhao-mi */
.con-list .zhao-mi{
    display: none;
}
.con-list .zhao-mi h3{
    font-size: 16px;
    color: #333;
    margin-left: 38px;
}
.con-list .zhao-mi form span{
    font-size: 12px;
    color: #333;
}
.con-list .zhao-mi form input{
    height: 36px;
    line-height: 36px;
    width: 301px;
    margin-left: 12px;
    border: 1px solid #999;
    border-radius: 6px;
    outline: none;
    padding-left: 10px;
}
.con-list .zhao-mi form .you-xiang{
    margin-top: 32px;
}
.con-list .zhao-mi form .spacing{
    margin-top: 12px;
}
.con-list .zhao-mi form .yan-zheng-ma{
    margin-left: -12px;
}
.con-list .zhao-mi form .yan-zheng-ma .shou-ma{
    width: 170px;
}
.con-list .zhao-mi form .yan-zheng-ma .ma-button{
    width: 92px;
    height: 38px;
    font-size: 14px;
    color: #FFF;
    border: 0 none;
    padding-left: 0;
    background-color: #ff2741;
    cursor: pointer;
    margin-left: 38px;
}
.con-list .zhao-mi form .que-ren{
    margin-left: -23px;
}
.con-list .zhao-mi form .zhao-que{
    width: 313px;
    height: 66px;
    border: 0 none;
    font-size: 20px;
    color: #FFF;
    background-color: #ff2741;
    padding-left: 0;
    margin-left: 38px;
    margin-top: 30px;
    cursor: pointer;
}







/*con-list-right*/
.con-list .con-list-right{
    width: 601px;
    height: 320px;
    background: #999;
    float: right;
    margin-top: 115px;
}
