<div class="Iframes"id="Iframes">
    <header class="Iframes_head">
        <i class="i_logo"></i>
        <a href="javascript:;"class="a_flod">
            <b class="head_b_i">收起</b>
            <i class="a_flod_i arro"></i>
        </a>
    </header>
    <section class="Iframes_cont">
        <div class="Iframes_top">
            <h1>匡威体育用品(中国)有限公司</h1>
            <div class="leav_info">
                <i class="V3"></i>
                <div class="level-tip">
                    <p class="custnum">BDV-131189435</p>
                    <p>累计时间<em class="b">110</em>个月</p>
                    <p class="ext">
                        <span><em class="b">76%</em> 好评</span>
                        <span><a href="javascript:;">评价&nbsp;&nbsp;</a>|<a href="javascript:;">&nbsp;&nbsp;举报</a></span>
                    </p>
                </div>
            </div>
        </div>
        <div class="Iframes_botton">
            <p class="bot_title">
                <span>认证类型</span><a href="javascript:;">更多</a>
            </p>
            <p class="bot_info">实名认证</p>
            <input type="text"placeholder="匡威体育用品中国有限公司@v" class="bot_input">
        </div>
    </section>
</div>
<style>
    /*Iframes*/
    .Iframes{
        width: 222px;
        height: 250px;
        position: fixed;
        top:300px;
        right: 0px;
        border-radius: 5px;
        z-index: 999999999;
        cursor: pointer;
        display: block;
        overflow: hidden;
        /*background-image: url("../images/creditPop.png");*/
        /*background-position: -38px -76px;*/
    }
    .Iframes_head{
        height: 32px;
        background-color: #445fb0;
        padding: 0 16px;
    }
    .i_logo{
        width: 69px;
        height: 19px;
        float: left;
        background-image: url("/images/creditPop.png");
        background-position: 0 -154px;
        margin: 6px 10px;
    }
    .a_flod{
        float: right;
        color: #ffffff;
        line-height: 30px;
    }
    .a_flod:hover{
        color: #dddddd;
        text-decoration: none;
    }
    .head_b_i{
        font-size: 12px;
    }
    .a_flod_i{
        display: inline-block;
        font-size: 0;
        width: 0;
        height: 0;
        border: 5px solid transparent;
        vertical-align: middle;
        margin-top: -2px;
        margin-left: 5px;
    }
    .arro{
        border-left:5px solid #fff;
    }
    /**/
    .Iframes_cont{
        width: 100%;
        height: auto;
        overflow: hidden;
    }
    .Iframes_top{
        padding: 14px 0 12px 13px;
        height: 81px;
        background-color: #ffffff;
        overflow: hidden;
    }
    .Iframes_top h1{
        font-size: 14px;
        font-weight: bold;
        color: #000;
    }
    .leav_info{
        margin-top: 6px;
        overflow: hidden;
        height: auto;
    }
    .V3{
        float: left;
        height: 39px;
        width: 39px;
        background-image: url("/images/creditPop.png");
        background-position: -80px 0;
        margin-right: 12px;
    }
    .level-tip{
        float: left;
        color: #999;
        overflow: hidden;
        line-height: 16px;
        vertical-align: top;
        width: 145px;
    }
    .level-tip p{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-bottom: 3px;
        font-size: 12px;
    }
    .custnum{
        font-family: Arial;
    }
    .b{
        color: #32a0ff;
        font-family: Arial;
    }
    .ext{
        overflow: hidden;
    }
    .ext span:nth-of-type(1){
        float: left;
    }
    .ext span:nth-of-type(2){
        float: right;
    }
    .ext span:nth-of-type(2) a{
        color: #999;
    }
    .ext span:nth-of-type(2) a:hover{
        color: #32a0ff;
        text-decoration: none;
    }
    /*botton*/
    .Iframes_botton{
        height: auto;
        padding: 0 14px 14px 13px;
        overflow: hidden;
        border-top:1px dotted #32a0ff;
        background-color: #f7f7f6;
    }
    .bot_title{
        margin-top: 11px;
        overflow: hidden;
    }
    .bot_title span{
        float: left;
        font-size: 12px;
    }
    .bot_title a{
        float: right;
        color: #32a0ff;
        font-size: 12px;
        text-decoration: none;
    }
    .bot_info{
        margin-top: 6px;
        color: #999999;
        font-size: 12px;
    }
    .bot_input{
        display: block;
        margin-top: 14px;
        height: 30px;
        width: 192px;
        outline: none;
        font-size: 12px;
        padding-left: 10px;
        border: 1px solid #dddddd;
    }
</style>
