<% include header%>
<link rel="stylesheet" href="/sass/classActive.css">
<div class="content">
    <header class="dityHead">
        <div class="datail-tab-list">
            <p class="tab-title"><i></i><span>分享</span></p>
            <p><i></i><span>加入收藏(<b>4</b>)</span></p>
            <div><span></span><a href="javascript:;">评论此商品</a></div>
        </div>
    </header>
</div>
<% include footer%>