<!--微信扫码-->
<link rel="stylesheet" href="/stylesheets/popup_wechat.css">
<section class="wechat-popup">
    <div class="wechat-popup-container">
        <div class="s-p-top">
            关注<strong>CONVERSE</strong>官方微信
            <br>
            潮流好货一手掌握
        </div>
        <p>立即添加微信号“<strong>CONVERSE</strong>中国”或扫描二维码</p>
        <img src="/images/wechat.jpg" alt="">
        <div class="closeBtn"></div>
    </div>
</section>