<!--注册页面-->
<link rel="stylesheet" href="/sass/public.css">
<div class="registers">
    <form action="">
        <dl>
            <dd>
                <ul>
                    <li>
                        手机号码 <b>*</b>
                        <div>
                            <input type="text" maxlength="11" placeholder="135XXXX333">
                        </div>
                    </li>
                    <li>
                        邮箱 <b>*</b>
                        <div>
                            <input type="email" placeholder="examplate@converse.com">
                        </div>
                    </li>
                    <li>
                        性别 <b>*</b>
                        <input type="hidden" name="gander" value="男的">
                        <div>
                            <div class="gender">
                                男的
                            </div>
                            <div class="gender">
                                女的
                            </div>
                        </div>
                    </li>
                </ul>
            </dd>
            <dd>
                <ul>
                    <li>
                        输入密码 <b>*</b>
                        <div>
                            <input type="text" maxlength="11" placeholder="密码至少6位字符">
                        </div>
                    </li>
                    <li>
                        确认密码 <b>*</b>
                        <div>
                            <input type="email" placeholder="请再次输入密码">
                        </div>
                    </li>
                    <li>
                        生日（年-月-日） <b>*</b>
                        <input type="hidden" name="gander" value="男的">
                    </li>
                </ul>
            </dd>
            <dd>
                <ul>
                    <li>
                        验证码 <b>*</b>
                        <div class="labelbox">
                            <input type="text" maxlength="11" placeholder="请输入验证码">
                            <input type="text">
                        </div>
                    </li>
                    <li>
                        短信验证码 <b>*</b>
                        <div class="labelbox">
                            <input type="email" placeholder="请再次输入密码">
                            <input type="text">
                        </div>
                    </li>
                    <li class="reg-sub">
                       一旦创建账户，即表明你同意匡威的<a href="javascript:;">法律声明</a>和<a href="javascript:;">使用规则</a>
                        <a href="javascript:;" class="btns">
                            注册账户
                        </a>
                    </li>
                </ul>
            </dd>
        </dl>
    </form>
</div>
<link rel="stylesheet" href="/stylesheets/register.css">