.Login{
    width: 100%;
    height: 100%;
    background-color: #4194C6;
    position: fixed;
}
.Login .Login-Content{
    width: 590px;
    height: 600px;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 5px 140px rgba(8,41,61,.2);
    position: absolute;
}
.Login .Login-Content .Login-Main{
    width: 400px;
    height: 490px;
    padding-top: 40px;
    margin: 0 auto;
    overflow: hidden;
}
.Login-Content .Login-Main .Login-log{
    height: 95px;
    width: 230px;
    display: block;
    margin: 0 auto;
    overflow: hidden;
}
.Login-Content .Login-Main .Login-log img{
    width: 100%;
    height: 100%;
    display: block;
}
.Login-Content .Login-Main .Login-title{
    font-size: 40px;
    color: #333333;
    font-weight: normal;
    margin-top: 30px;
    letter-spacing: 8px;
    text-align: center;
}
.Login-Content .Login-Main .Main-phone{
    display: block;
    border: 1px solid #fff;
    width: 100%;
    border-bottom: 1px solid #BABABA;
    outline: none;
    font-size: 22px;
    color: #333;
    padding-bottom: 9px;
    padding-left: 10px;
    margin-top: 50px;
}
.Login-Content .Login-Main .Main-verifCode{
    width: 100%;
    height: 45px;
    overflow: hidden;
    margin-top: 45px;
}
.Login-Content .Login-Main .Main-code{
    float: left;
    width: 260px;
    height: 100%;
    outline: none;
    font-size: 22px;
    padding-left: 10px;
    border: 1px solid #fff;
    border-bottom: 1px solid #BABABA;
    box-sizing: border-box;
}
.Login-Content .Login-Main .Main-sendCode{
    float: right;
    width: 115px;
    height: 45px;
    outline: none;
    font-size: 18px;
    color: #4fa5cf;
    border: 1px #4fa5cf solid;
    border-radius: 50px;
    background-color: #ffffff;
    cursor: pointer;
    box-sizing: border-box;
}
.Login-Content .Login-Main .Main-sendCode:hover{
    -webkit-transition: all .5s;
    background-color: #4194c6;
    color: #fff;
}
.Login-Content .Login-Main .Main-Msg{
    margin-top: 20px;
    color: #4194C6;
    font-size: 16px;
    overflow: hidden;
}
.Main-Msg label{
    width: 14px;
    height: 14px;
    float: left;
    display: block;
    border: 1px solid saddlebrown;
    margin-top: 4px;
    margin-right: 10px;
    cursor: pointer;
}
.Main-Msg>label input{
    display: none;
}
.Login-Content .Login-Main .Main-loginBtn{
    margin-top: 20px;
    display: block;
    height: 60px;
    outline: none;
    border: 1px #4194C6 solid;
    border-radius: 50px;
    background-color: #ffffff;
    color: #4194C6;
    font-size: 22px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    line-height: 60px;
}
.Login-Content .Login-Main .Main-loginBtn:hover{
    -webkit-transition: all .5s;
    background-color: #4194c6;
    color: #fff;
}